::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border: 1px solid white;
  border-radius: 10px;
}

.ampliarImg {
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.capa {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.capa.activo {
  opacity: 1;
}

.capa img {
  border: 5px solid black;
}

.container-scroller {
  display: flex;
  position: relative;
  overflow: hidden;
}

.page-body-wrapper {
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
  transition: all 0.25s ease;
  width: calc(100% - 244px);
}

.page-body-wrapper.full-page-wrapper {
  width: 100%;
  min-height: 100vh;
}

.content-wrapper {
  background: #000000;
  padding: 1.875rem 1.75rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.auth.login-bg {
  background: url("../images/login/Login_bg.jpg");
  background-size: cover;
}

.card {
  background-color: transparent;
}

.card-body {
  border-radius: 2%;
}

.card .card-description {
  color: #bfbfbf;
  font-weight: 300;
}

.btn-block {
  display: block;
  width: 100%;
}

.auth button {
  font-size: 0.875rem;
}
.auth button.enter-btn {
  height: 45px;
  margin-bottom: 28px;
}

.auth .sign-up {
  font-size: 1rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}
.auth .sign-up a {
  color: #0090e7;
}

.dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;
}

.nav-item {
  margin-right: 2%;
}

.loginForm {
  width: 200px;
}

.stretch-card {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  justify-content: stretch;
}
.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.h-20 {
  height: 15%;
}

.h-10 {
  height: 10%;
}

.cajaInfoUser {
  height: 20px;
  border: 1px solid white;
}

.cajaInfoUser p {
  color: white;
  font-size: 12px;
  margin-top: 2px;
}

.cajaCesta {
  max-height: 300px;
  width: 250px;
}

.fotoTabla {
  height: 150px;
}

.table {
  vertical-align: middle;
  margin-bottom: 0;
}

.w-35 {
  width: 35%;
}

.logo {
  width: 140px;
  height: 60px;
}